<?xml version="1.0"?>
<launch>
  <arg name="ssd" default="true"/>

  <param if="$(arg ssd)" name="mk_rosbag_dir" command="mkdir -p /media/$(env USER)/PortableSSD/raspicat_rosbag/mapping/"/>
  <param unless="$(arg ssd)" name="mk_rosbag_dir" command="mkdir -p /home/$(env USER)/raspicat_rosbag/mapping/"/>
  
  <node if="$(arg ssd)" pkg="rosbag" type="record" name="rosbag_record_navigation" output="screen"
    args="-o /media/$(env USER)/PortableSSD/raspicat_rosbag/mapping/mapping
            -b 0
            --split
            --size=50120
            -e
            /cmd_vel  
            /odom
            /scan
            /tf(.*)
  "/>
  <node unless="$(arg ssd)" pkg="rosbag" type="record" name="rosbag_record_navigation" output="screen"
    args="-o /home/$(env USER)/raspicat_rosbag/mapping/mapping
              -b 0
              --split
              --size=50120
              -e
              /cmd_vel  
              /odom
              /scan     
              /tf(.*)
  "/>
</launch>