<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="rosbag_play_file_number" default="0"/>
  <arg name="rosbag_play_speed" default="1"/>
  <arg name="raspicat_slam_pkg_dir" default="$(find raspicat_slam)"/>
  <arg name="raspicat_rosbag_download_pkg_dir" default="$(find raspicat_rosbag)rosbag_download/scripts"/>
  <arg name="raspicat_rosbag_gmapping_pkg_dir" default="$(find raspicat_rosbag)/rosbag_play/mapping/gmapping/scripts"/>
  <arg name="save_map_to_raspicat_navigation" default="true"/>

  <!-- Node launch -->
  <node pkg="raspicat_rosbag" name="raspicat_rosbag_gmapping_docker" type="job_run_gmapping.sh"
    args="$(arg raspicat_rosbag_download_pkg_dir) $(arg raspicat_rosbag_gmapping_pkg_dir) $(arg raspicat_slam_pkg_dir)
          $(arg rosbag_play_file_number) $(arg rosbag_play_speed) $(arg save_map_to_raspicat_navigation)" 
    output="screen"/>
</launch>